.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.rc-badge {
  padding: 4px;
  display: inline-block;
  border-radius: 10px;
  min-width: 100px;
  text-align: center;
}
.dropdown-item a {
  color: rgb(32, 32, 32)   !important;
  text-decoration: none;
}
.badge-Confirmed {
  background-color: rgb(42, 152, 42);
  color: white;
}
.badge-Requested {
  background-color: rgb(232, 130, 13);
  color: white !important;
}
.badge-Rejected {
  background-color: rgb(196, 43, 43);
  color: white;
}

.btn-pagination {
  background-color: #fea33a !important;
  color: black !important ;
  font-weight: large !important;
  border-color: transparent !important;

  width: 120px;
}

.rc-bg-primary {
  background-color: #fea33a !important;
}

.filter-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.text-color-white {
  background-color: white;
}
.contain {
  margin-top: 40px;
}
.margin-card {
  margin-top: 30px;
}
.--bs-pagination-active-bg {
  background-color: #fea33a !important;
}
.linear-background {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 1000px 104px;
  height: 15px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
